<div class="row">
  <div class="top-panel">

    <div class="col-xs-3">
      <img src="{{ .Site.BaseURL }}img/logo.png" alt="{{ .Title }}" class="img-responsive">
    </div>


    <div class="col-xs-3">
      <img src="{{ .Site.BaseURL }}img/mail.png" alt="{{ .Title }}" class="img-responsive">
    </div>

    <div class="col-xs-3">
      <img src="{{ .Site.BaseURL }}img/trial.png" alt="{{ .Title }}" class="img-responsive">
    </div>

    <div class="col-xs-3">
      <img src="{{ .Site.BaseURL }}img/tel.png" alt="{{ .Title }}" class="img-responsive">
    </div>

  </div>
  <!-- top-panel -->

</div>
<!-- row -->
