<section>

  <div class="page-header"> <h1 class="deco1">体験レッスン</h1> </div>

  <div class="dbox">
    八旗中国語学院では、無料体験レッスンを行っております。実際に体験していただき、ホームページではお伝えしきれない教室の雰囲気をご自身でご確認ください。
無料体験レッスン・見学にはご予約をお願いいたしております。お申し込みは電話で、又はお問い合わせフォームよりお願いいたします。
    その際、ご希望のコース（グループレッスン、プライベートレッスンなど）、学習歴、ご希望の曜日・時間帯などをお伝えください。
    初めて中国語を勉強される方も大歓迎です。どうぞお気軽にお越しください。
  </div>

  <div class="page-header"> <h2 class="deco2">体験レッスンの流れ</h2> </div>

  {{ range .Site.Data.trial }}
  <h3 class="deco3"> {{ .title }} </h3>
  <div class="dbox">
    {{ .content }}
  </div>
  {{ end }}



</section>
